.mau__right{
  position: relative;
  
}
.content{
  position: absolute;
  left: 55px;
  top: 100px;
}
.content__info{
  position: absolute;
  left: 55px;
  bottom: -300px;
}
.img__glass {
  display: block;
  max-width: 100%;
  max-height: 50%;
  width: auto;
  height: auto;
}